set timeout=5
set default=0

menuentry "TogekissOS" {
    multiboot2 /boot/stage1/boot.bin                  // Path to the loader executable
    boot
     // More modules may be added here in the form 'module <path> "<cmdline>"'
}
